<section class="admin-dashboard">

  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="my-0 fw-normal">Total Products</h4>
          <p class="card-text"><%= @product_count %> products</p>
          <%= link_to "Go to Products","/admin/products", :class => "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="my-0 fw-normal">Total Categories</h4>
          <p class="card-text">3 <%= @category_count %> categories</p>
          <%= link_to "View all Products","/products", :class => "btn btn-primary" %>
          <%= link_to 'Categories', [:admin, :categories], class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>

</section>
